@font-face {
    font-family: YouthBeauty;
    src: url("fonts/youth-and-beauty.ttf")
}

@font-face {
    font-family: Nasalization;
    src: url("fonts/Nasalization.otf")
}

@font-face {
    font-family: Monda;
    src: url("fonts/Monda-Regular.ttf")
}

@font-face {
    font-family: Pokemon;
    src: url("fonts/pkmndp.ttf")
}

/* Global variables */
:root {
    --console-height: 630px;
    --console-width: 800px;

    --screen-height: 400px;
    --screen-width: 600px;

    --lighter-gray: rgb(240, 240, 240);
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#console-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--console-height) + 15px);
    width: calc(var(--console-width) + 15px);
    margin: 30px;
}

#console {
    height: var(--console-height);
    width: var(--console-width);
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border: 5px solid darkred;
    border-radius: 16px;
}

#title {
    height: 60px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    color: gold;
    font-size: 42px;
    font-weight: normal;
    font-family: YouthBeauty;
    text-shadow: 2px 2px 2px black;

}

#screen-container {
    height: var(--screen-height);
    width: var(--screen-width);
    background-color: white;
    display: grid;
    gap: 0px;

    /* border-color: rgb(69, 69, 69);
    border-style: solid;
    border-width: 2px; */

    border: darkred 4px;
    border-style: solid;
}

#slider-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 250px;
    right: -102px;
    height: 60px;
    width: 300px;
    transform: rotate(270deg);
}

#slider {
    height: 30px;
    width: 250px;
}

#slider-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 60px;
    font-family: Pokemon;
    font-weight: bolder;
    font-size: 13px;
    color: black;
    background: whitesmoke;
    border: 3px solid darkred;
    border-radius: 5px;
    transform: rotate(90deg);
    box-shadow: inset rgb(0, 0, 0, 0.4) 4px 4px;

}

input[type="range"] {
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    background: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    border: 3px solid darkred;
    border-radius: 25px;
    background: whitesmoke;
    padding: 1px;
    box-shadow: inset rgb(0, 0, 0, 0.4) -4px 4px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: 3px darkred solid;
    border-radius: 50%;
    background: orangered;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0, 0.4) -2px 2px;
}

input[type="range"]:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: 3px darkred solid;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0, 0.4) -2px 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#ui-container {
    display: flex;
    height: auto;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 70%;
}

.button {
    height: 40px;
    width: 60px;
    font-family: Monda;
    font-size: 10px;
    background: var(--lighter-gray);
    /* background: lightgray; */

    border: solid 3px black;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px;
}

.button:hover {
    height: 40px;
    width: 60px;
    font-family: Monda;
    font-size: 10px;

    border: solid 3px black;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.4) 4px 4px;
}

.knob-outer {
    background-color: white;
    height: 80px;
    width: 80px;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    box-shadow: rgb(0, 0, 0, 0.4) 6px 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.knob-inner {
    height: 70px;
    width: 70px;
    border-color: gray;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
}

#left-knob {}

#right-knob {}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px red;
    /* font-family: AlteHaasGrotesk; */
    font-family: Nasalization;
}